@tailwind base;
@tailwind components;
@tailwind utilities;


/* Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}
@media print {
  html,
  body {
    visibility: hidden;
  }

  @page {
    margin: 0;
    padding: 0;
  }
}
